html{
    scroll-behavior:smooth;
}

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

#country {
    background-color: black;
    color:bisque;
    outline: 0;
}

.baseline {
    background-image: linear-gradient(to bottom, #000000, #0b060a, #0f0d15, #0c141d, #031a22);
}

.site_name{
    font-family: 'Potta One', cursive;
    color:bisque;
    text-shadow : -2px 2px 10px rgb(61, 104, 45);
}

.lat_fig{
    /* background-image: linear-gradient(to top, #0a8bad, #20829e, #2a7890, #316f82, #366674); */
    color: rgb(248, 234, 211);
    background: transparent;
}

.fig_track{
    background-image: linear-gradient(to bottom, #000000, #0b060a, #0f0d15, #0c141d, #031a22);
}

#err_page{
    background-image: linear-gradient(to left, #b60d12, #8f1313, #dd0b16, #ad2a39, #ad0225);}

.navbar{
    padding : 0.2rem 1rem;
}

#nav_bar{
    background-image: linear-gradient(to left, #4f9cf1, #4c90db, #4984c5, #4678af, #436c9a);
}
.vaccine_chart_container {
    position: relative;
    margin: auto;
    height: 75vh;
    width: auto;
    background-color: rgb(248, 234, 211);
}

.vaccine_dose_container{
    position : relative;
    height: 45vh;
    margin-top: 15px;
    width: auto;
}

.top_country_container {
    position: relative;
    margin-bottom: auto;
    height: 60vh;
    width: 85vw;
    background-color: rgb(248, 234, 211);
}

#about_me{    
    background: transparent;
}

.fa-envelope{
    color : rgb(223, 45, 45);
    font-size: 40px;
}

.fa-github{
   color : rgb(189, 163, 163);
   font-size: 40px;
}
.fa-linkedin-in{
   color : rgb(213, 213, 241);
   font-size: 40px;   
}
.fa-instagram{
   color : rgb(184, 40, 241);
   font-size: 40px;
}
.fa-twitter{
   color : rgb(40, 167, 241);
   font-size: 40px;
}

.scrollToTop{
    width: 35px; 
    height: 35px;
    text-align:center; 
    background: rgb(12, 12, 12);
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    bottom: 15px;
    right: 12px;
    display:none;
    z-index: 3;
    border-radius: 50%;
}

.scrollToTop img{
    height: inherit;
    width : inherit;
}
.scrollToTop:hover{
   text-decoration:none;
}



/* Styles for Big Screens */
@media (min-width: 992px) {  
    #about_me{
        width : 80%; 
    }
    .navbar{
        padding : 0.15rem 1rem;
    }
    .scrollToTop{
        width: 40px; 
        height: 40px;
        position:fixed;
        bottom: 20px;
        right: 30px;
        z-index : 20;
        border-radius  : 50%;
        cursor: pointer;
    }
    .top_country_container {
        position: relative;
        margin: auto;
        height: 70vh;
        width: 70vw;
        padding: 20px;
    }
 }

 